In [18]:
import pandas as pd
%matplotlib
import matplotlib.pyplot as plt
players = pd.read_csv("/Users/yizhijuan/Documents/001UW/509/TTT/players.csv")
players

Using matplotlib backend: MacOSX

     Name  Wins  Losses  Draws
0   Alice     3       0      0
1     Bot     0      14      0
2     Bob     1       1      0
3   Cathy     2       0      0
4    DuDu     0       1      0
5       P     1       0      0
6     Ali     1       0      0
7       U     1       0      0
8       I     1       0      0
9       Y     1       0      0
10     RR     1       0      0
11    RRR     1       0      0
12     WW     1       0      0
13     Yo     1       0      0
14      A     2       0      0
15      B     0       1      0

In [19]:

players.plot(x="Name", y="Wins", kind="bar")

2022-12-19 21:53:19.065 python[92116:9605838] +[CATransaction synchronize] called within transaction
2022-12-19 21:53:19.164 python[92116:9605838] +[CATransaction synchronize] called within transaction

In [21]:
players["Win_rate"] = players["Wins"]/(players["Wins"] + players["Losses"] + players["Draws"])
players.plot(x="Name", y="Win_rate", kind="bar")

In [22]:
players.plot(x="Name", y=["Wins","Losses","Draws"], kind="bar")